<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spring MVC com Spring Boot</title>
</head>
<body>
	<h1 th:text="'Seja bem vindo ' + ${nome}"></h1>
	<a th:href="@{/}">Voltar</a>
</body>
</html>